@import "mixin";

.themeMixin({
  :host{
    display: block;
    background: @background-color-base;
    color: @heading-color;
    div{
      background: @component-background;
      height: 200px;
      width: 200px;
    }
  }
});
